#about_us
{
    padding: 20px 0;
    box-sizing: border-box;
    min-height: 200px;
    line-height: 1.4;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

#content
{
    margin-top: calc(100vh + 100px) !important;
}
.page_title_block
{
    margin-top: 0 !important;
}
.about_column
{
  width: 100%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-align: justify;
  color: #000;
    padding: 20px;
    box-sizing: border-box;
}
.about_column h3
{
  font-size: 30px;
  color: #e62b1e;
  margin-top: 0;
}
.vert_sep
{
  display: inline-block;
  position: relative;
  background-color: white;
  width: 2px;
  height: 500px;
  border-radius: 2px;
}
#radar_preview
{
  background-color: #FFF;
  height: 500px;
  margin: 0 30px;
}

/* Slideshow CSS */

#slideshow_holder
{
    position: relative;
    width: 100%;
    background-color: #FFF;
    padding: 0;
    white-space: nowrap;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 20px auto;
    font-size: 0;
}
#slideshow_holder > .rel
{
    overflow: hidden;
}
#slideshow_reel
{
    position: relative;
    height: 100%;
}
.slideshow_element
{
    width: 100%;
    display: inline-block;
    background-color: #141414;
    position: relative;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
}
.slideshow_element img
{
    width: calc(100% - 2px);
    display: inline-block;
    max-width: 1200px;
    position: relative;
}
.slideshow_element i
{
    vertical-align: center;
    display: inline-block;
}
.slideshow_element:nth-child(1)
{
    margin-left: 0;
}
.slideshow_arrow
{
    height: 40px;
    width: 40px;
    background-color: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.5;
    cursor: pointer;
    z-index: 2000;
    -webkit-box-shadow: 0px 0px 3px 1px #FFF;
    -moz-box-shadow: 0px 0px 3px 1px #FFF;
    box-shadow: 0px 0px 3px 1px #FFF;
}
.slideshow_arrow.ss_move_left
{
    left: 0;
}
.slideshow_arrow.ss_move_right
{
    right: 0;
}
.slideshow_arrow:hover
{
    opacity: 0.8;
}
.slideshow_arrow i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    color: #FFF;
}
.slideshow_element i
{
    color: white;
    font-size: 80px;
}
.theSocialHolder
{
    position: absolute;
    left: 50%;
    font-size: 30px;
    top: 50%;
    color: white;
    transform: translateX(-50%) translateY(-50%);
}

/* Slideshow CSS end */
@media screen and (min-width: 1200px)
{
  .clock-builder-output td
  {
    font-size: 30px;
  }
  .about_column
  {
    width: 50%;
    font-size: 20px;
  }
  #countdown_header
  {
    font-size: 60px;
    display: block;
  }
  #small_announcements_container
  {
    width: calc(100% - 440px);
    height: 420px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .announcement_small
  {
    width: 280px;
  }
  #best_ideas
  {
    text-align: left;
  }
  #radar_form
  {
    margin: 60px;
  }
  #radar_form_form input,
  #radar_form_form button
  {
    border-radius: 2px;
    margin: 10px 0;
  }

  .slideshow_arrow
  {
      height: 100px;
      width: 100px;
  }
  .slideshow_arrow i
  {
      font-size: 50px;
  }
}
.imgParallax
{
    width: 100vw;
    max-width: 800px;
    position: relative;
}
#content
{
    text-align: center;
   background-color: #FFF;
}
.nominate_a_speaker + p
{
    max-width: 800px;
    display: inline-block;
    text-align: justify;
}
.nominate_a_speaker + p:after
{
    content: '';
    display: block;
}
a.nominate_a_speaker
{
    margin: 10px !important;
    font-size: 18px !important;
}
a.nominate_a_speaker:nth-child(2)
{
    float: left;
}
a.nominate_a_speaker:nth-child(3)
{
    float: right;
}
#aftermovie_holder
{
    box-sizing: border-box;
}
#aftermovie_holder iframe
{
    width: 100%;
    margin: auto;
    height: calc(100vw * 0.5625);
}

ul.countdown {
	list-style: none;
	margin: 35px 0;
	padding: 0;
	display: block;
	text-align: center;
	color: #FFFFFF;
}
ul.countdown h1
{
	font-size: 20px;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 50px;
	font-weight: 300;
	line-height: 80px;
}
ul.countdown li.seperator {
	font-size: 80px;
	line-height: 70px;
	vertical-align: top;
}
ul.countdown li p {
	font-size: 12px;
}
#anim
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#timeTill
{
	padding: 10px;
	display: inline-block;
	background-color: #00000055;
	z-index: 100000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	white-space: nowrap;
}

#bs_logo
{
	position: relative;
	max-width: 250px;
	width: calc(100% - 100px);
	margin: 20px auto;
	display: block;
	height: 300px;
}

@media screen and (min-width: 1200px) {
    #aftermovie_holder iframe
    {
        width: 1200px;
        height: 675px;
    }
}

@-webkit-keyframes bs_logo_anim-anim-1 {
	0% {
	  -webkit-clip-path: inset(76% 0 6% 0);
			  clip-path: inset(76% 0 6% 0);
	}
	5% {
	  -webkit-clip-path: inset(42% 0 43% 0);
			  clip-path: inset(42% 0 43% 0);
	}
	10% {
	  -webkit-clip-path: inset(13% 0 55% 0);
			  clip-path: inset(13% 0 55% 0);
	}
	15% {
	  -webkit-clip-path: inset(82% 0 9% 0);
			  clip-path: inset(82% 0 9% 0);
	}
	20% {
	  -webkit-clip-path: inset(80% 0 8% 0);
			  clip-path: inset(80% 0 8% 0);
	}
	25% {
	  -webkit-clip-path: inset(23% 0 49% 0);
			  clip-path: inset(23% 0 49% 0);
	}
	30% {
	  -webkit-clip-path: inset(58% 0 3% 0);
			  clip-path: inset(58% 0 3% 0);
	}
	35% {
	  -webkit-clip-path: inset(73% 0 3% 0);
			  clip-path: inset(73% 0 3% 0);
	}
	40% {
	  -webkit-clip-path: inset(8% 0 54% 0);
			  clip-path: inset(8% 0 54% 0);
	}
	45% {
	  -webkit-clip-path: inset(31% 0 60% 0);
			  clip-path: inset(31% 0 60% 0);
	}
	50% {
	  -webkit-clip-path: inset(9% 0 45% 0);
			  clip-path: inset(9% 0 45% 0);
	}
	55% {
	  -webkit-clip-path: inset(41% 0 14% 0);
			  clip-path: inset(41% 0 14% 0);
	}
	60% {
	  -webkit-clip-path: inset(44% 0 42% 0);
			  clip-path: inset(44% 0 42% 0);
	}
	65% {
	  -webkit-clip-path: inset(1% 0 75% 0);
			  clip-path: inset(1% 0 75% 0);
	}
	70% {
	  -webkit-clip-path: inset(90% 0 2% 0);
			  clip-path: inset(90% 0 2% 0);
	}
	75% {
	  -webkit-clip-path: inset(70% 0 31% 0);
			  clip-path: inset(70% 0 31% 0);
	}
	80% {
	  -webkit-clip-path: inset(21% 0 54% 0);
			  clip-path: inset(21% 0 54% 0);
	}
	85% {
	  -webkit-clip-path: inset(91% 0 6% 0);
			  clip-path: inset(91% 0 6% 0);
	}
	90% {
	  -webkit-clip-path: inset(71% 0 27% 0);
			  clip-path: inset(71% 0 27% 0);
	}
	95% {
	  -webkit-clip-path: inset(3% 0 23% 0);
			  clip-path: inset(3% 0 23% 0);
	}
	100% {
	  -webkit-clip-path: inset(90% 0 5% 0);
			  clip-path: inset(90% 0 5% 0);
	}
  }
  
  @keyframes bs_logo_anim-anim-1 {
	0% {
	  -webkit-clip-path: inset(76% 0 6% 0);
			  clip-path: inset(76% 0 6% 0);
	}
	5% {
	  -webkit-clip-path: inset(42% 0 43% 0);
			  clip-path: inset(42% 0 43% 0);
	}
	10% {
	  -webkit-clip-path: inset(13% 0 55% 0);
			  clip-path: inset(13% 0 55% 0);
	}
	15% {
	  -webkit-clip-path: inset(82% 0 9% 0);
			  clip-path: inset(82% 0 9% 0);
	}
	20% {
	  -webkit-clip-path: inset(80% 0 8% 0);
			  clip-path: inset(80% 0 8% 0);
	}
	25% {
	  -webkit-clip-path: inset(23% 0 49% 0);
			  clip-path: inset(23% 0 49% 0);
	}
	30% {
	  -webkit-clip-path: inset(58% 0 3% 0);
			  clip-path: inset(58% 0 3% 0);
	}
	35% {
	  -webkit-clip-path: inset(73% 0 3% 0);
			  clip-path: inset(73% 0 3% 0);
	}
	40% {
	  -webkit-clip-path: inset(8% 0 54% 0);
			  clip-path: inset(8% 0 54% 0);
	}
	45% {
	  -webkit-clip-path: inset(31% 0 60% 0);
			  clip-path: inset(31% 0 60% 0);
	}
	50% {
	  -webkit-clip-path: inset(9% 0 45% 0);
			  clip-path: inset(9% 0 45% 0);
	}
	55% {
	  -webkit-clip-path: inset(41% 0 14% 0);
			  clip-path: inset(41% 0 14% 0);
	}
	60% {
	  -webkit-clip-path: inset(44% 0 42% 0);
			  clip-path: inset(44% 0 42% 0);
	}
	65% {
	  -webkit-clip-path: inset(1% 0 75% 0);
			  clip-path: inset(1% 0 75% 0);
	}
	70% {
	  -webkit-clip-path: inset(90% 0 2% 0);
			  clip-path: inset(90% 0 2% 0);
	}
	75% {
	  -webkit-clip-path: inset(70% 0 31% 0);
			  clip-path: inset(70% 0 31% 0);
	}
	80% {
	  -webkit-clip-path: inset(21% 0 54% 0);
			  clip-path: inset(21% 0 54% 0);
	}
	85% {
	  -webkit-clip-path: inset(91% 0 6% 0);
			  clip-path: inset(91% 0 6% 0);
	}
	90% {
	  -webkit-clip-path: inset(71% 0 27% 0);
			  clip-path: inset(71% 0 27% 0);
	}
	95% {
	  -webkit-clip-path: inset(3% 0 23% 0);
			  clip-path: inset(3% 0 23% 0);
	}
	100% {
	  -webkit-clip-path: inset(90% 0 5% 0);
			  clip-path: inset(90% 0 5% 0);
	}
  }
  
  @-webkit-keyframes bs_logo_anim-anim-2 {
	0% {
	  -webkit-clip-path: inset(37% 0 26% 0);
			  clip-path: inset(37% 0 26% 0);
	}
	5% {
	  -webkit-clip-path: inset(36% 0 23% 0);
			  clip-path: inset(36% 0 23% 0);
	}
	10% {
	  -webkit-clip-path: inset(56% 0 44% 0);
			  clip-path: inset(56% 0 44% 0);
	}
	15% {
	  -webkit-clip-path: inset(24% 0 55% 0);
			  clip-path: inset(24% 0 55% 0);
	}
	20% {
	  -webkit-clip-path: inset(89% 0 5% 0);
			  clip-path: inset(89% 0 5% 0);
	}
	25% {
	  -webkit-clip-path: inset(53% 0 6% 0);
			  clip-path: inset(53% 0 6% 0);
	}
	30% {
	  -webkit-clip-path: inset(45% 0 32% 0);
			  clip-path: inset(45% 0 32% 0);
	}
	35% {
	  -webkit-clip-path: inset(76% 0 7% 0);
			  clip-path: inset(76% 0 7% 0);
	}
	40% {
	  -webkit-clip-path: inset(44% 0 32% 0);
			  clip-path: inset(44% 0 32% 0);
	}
	45% {
	  -webkit-clip-path: inset(89% 0 8% 0);
			  clip-path: inset(89% 0 8% 0);
	}
	50% {
	  -webkit-clip-path: inset(78% 0 23% 0);
			  clip-path: inset(78% 0 23% 0);
	}
	55% {
	  -webkit-clip-path: inset(7% 0 9% 0);
			  clip-path: inset(7% 0 9% 0);
	}
	60% {
	  -webkit-clip-path: inset(30% 0 16% 0);
			  clip-path: inset(30% 0 16% 0);
	}
	65% {
	  -webkit-clip-path: inset(100% 0 1% 0);
			  clip-path: inset(100% 0 1% 0);
	}
	70% {
	  -webkit-clip-path: inset(97% 0 3% 0);
			  clip-path: inset(97% 0 3% 0);
	}
	75% {
	  -webkit-clip-path: inset(46% 0 1% 0);
			  clip-path: inset(46% 0 1% 0);
	}
	80% {
	  -webkit-clip-path: inset(67% 0 24% 0);
			  clip-path: inset(67% 0 24% 0);
	}
	85% {
	  -webkit-clip-path: inset(67% 0 33% 0);
			  clip-path: inset(67% 0 33% 0);
	}
	90% {
	  -webkit-clip-path: inset(91% 0 1% 0);
			  clip-path: inset(91% 0 1% 0);
	}
	95% {
	  -webkit-clip-path: inset(33% 0 66% 0);
			  clip-path: inset(33% 0 66% 0);
	}
	100% {
	  -webkit-clip-path: inset(30% 0 2% 0);
			  clip-path: inset(30% 0 2% 0);
	}
  }
  
  @keyframes bs_logo_anim-anim-2 {
	0% {
	  -webkit-clip-path: inset(37% 0 26% 0);
			  clip-path: inset(37% 0 26% 0);
	}
	5% {
	  -webkit-clip-path: inset(36% 0 23% 0);
			  clip-path: inset(36% 0 23% 0);
	}
	10% {
	  -webkit-clip-path: inset(56% 0 44% 0);
			  clip-path: inset(56% 0 44% 0);
	}
	15% {
	  -webkit-clip-path: inset(24% 0 55% 0);
			  clip-path: inset(24% 0 55% 0);
	}
	20% {
	  -webkit-clip-path: inset(89% 0 5% 0);
			  clip-path: inset(89% 0 5% 0);
	}
	25% {
	  -webkit-clip-path: inset(53% 0 6% 0);
			  clip-path: inset(53% 0 6% 0);
	}
	30% {
	  -webkit-clip-path: inset(45% 0 32% 0);
			  clip-path: inset(45% 0 32% 0);
	}
	35% {
	  -webkit-clip-path: inset(76% 0 7% 0);
			  clip-path: inset(76% 0 7% 0);
	}
	40% {
	  -webkit-clip-path: inset(44% 0 32% 0);
			  clip-path: inset(44% 0 32% 0);
	}
	45% {
	  -webkit-clip-path: inset(89% 0 8% 0);
			  clip-path: inset(89% 0 8% 0);
	}
	50% {
	  -webkit-clip-path: inset(78% 0 23% 0);
			  clip-path: inset(78% 0 23% 0);
	}
	55% {
	  -webkit-clip-path: inset(7% 0 9% 0);
			  clip-path: inset(7% 0 9% 0);
	}
	60% {
	  -webkit-clip-path: inset(30% 0 16% 0);
			  clip-path: inset(30% 0 16% 0);
	}
	65% {
	  -webkit-clip-path: inset(100% 0 1% 0);
			  clip-path: inset(100% 0 1% 0);
	}
	70% {
	  -webkit-clip-path: inset(97% 0 3% 0);
			  clip-path: inset(97% 0 3% 0);
	}
	75% {
	  -webkit-clip-path: inset(46% 0 1% 0);
			  clip-path: inset(46% 0 1% 0);
	}
	80% {
	  -webkit-clip-path: inset(67% 0 24% 0);
			  clip-path: inset(67% 0 24% 0);
	}
	85% {
	  -webkit-clip-path: inset(67% 0 33% 0);
			  clip-path: inset(67% 0 33% 0);
	}
	90% {
	  -webkit-clip-path: inset(91% 0 1% 0);
			  clip-path: inset(91% 0 1% 0);
	}
	95% {
	  -webkit-clip-path: inset(33% 0 66% 0);
			  clip-path: inset(33% 0 66% 0);
	}
	100% {
	  -webkit-clip-path: inset(30% 0 2% 0);
			  clip-path: inset(30% 0 2% 0);
	}
  }
  
  #bs_logo > img {
	position: absolute;
	top: 30px;
	left: 0px;
  }
  
  #bs_logo > img:nth-child(2) {
	left: 2px;
	animation: bs_logo_anim-anim-1 2s infinite linear alternate-reverse;
  }
  
  #bs_logo > img:nth-child(3) {
	left: -2px;
	animation: bs_logo_anim-anim-2 3s infinite linear alternate-reverse;
  }