body
{
    background: #ddd;
    text-align: center;
}
.navigation_bar
{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 800px;
}
.navigation_bar > *
{
    display: inline-block;
    text-align: left;
    padding: 10px;
}
.navigation_bar > a
{
    color: #1b356b;
    border-radius: 5px;
    text-transform: uppercase;
}
.navigation_bar > a:nth-child(2)
{
    text-align: right;
}
.navigation_bar > a:hover
{
    background-color: #FFF;
    color: #1b356b;
}
#media_grid
{
    max-width: 800px;
    display: inline-grid;
    margin: 20px;
}