body
{
    text-align: center;
}
#partner_grid
{
    display: inline-block;
    max-width: 1200px;
    margin: 60px 40px;
    box-sizing: border-box;
}
.partner_grid
{
    display: inline-flex;
    flex-flow: row wrap;
    text-align: center;

    justify-content: center;
    align-items: center;

    width: 100%;
}
.partner_grid > *
{
    flex: 1 1 33%;
}
.partner_grid.assoc > *
{
    flex: 1 1 50% !important;
}
img.partner-logo
{
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.partner_grid img.partner-logo
{
    padding: 40px;
}
img.partner-logo.size_title
{
    max-height: 500px;
    max-width: 500px;
    width: 100%;
}
#partner_grid > h1
{
    font-size: 40px;
    color: #000;//rgba(0,0,0,0.3);
    font-weight: normal;
    letter-spacing: 1px;
    padding: 2px 0 2px 40px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    margin: 50px 0 10px 0;
    border-bottom: 8px solid #000; //#666;
}
#partner_grid > h1:nth-child(1)
{
    margin-top: 0;
}
@media screen and (max-width: 1080px)
{
    #partner_grid
    {
        margin: 60px calc(50% - 500px);
    }
}
@media screen and (max-width: 1000px)
{
    #partner_grid
    {
        margin: 60px 0;
    }
}
@media screen and (max-width: 600px)
{
    .partner_grid
    {
        grid-template-columns: 1fr 1fr;
    }
    .partner_grid img.partner-logo
    {
        padding: 10px;
    }
    #partner_grid > h1
    {
        padding-left: 5px;
    }
}