body
{
    background-color: #000000;
}
#qissa_page_holder
{
    margin: 10px;
    width: calc(100% - 20px);
    min-height: calc(100vh - 200px);
    background: #000;
    color: white;
    text-align: center;
}
#qissa_poster
{
    width: calc(100% + 10px);
    text-align: center;
    transform: translateX(-10px);
}
#qissa_poster img
{
    width: 100%;
    display: inline-block;
    max-width: 700px;
}
.page_title_block
{
    background-color: black;
    border-color: #FFF;
}
a.nominate_a_speaker
{
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #FFF;
    color: black;
}
.a_desc_section
{
    max-width: 900px;
    display: inline-block;
    text-align: justify;
    font-size: 20px;
}
.a_desc_section h2
{
    font-size: 30px;
}
#past_speakers_tile_ribbon
{
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    position: relative;
    text-align: center;
    font-size: 0;
    background-color: #000;
}
.past_speaker_single_thumb
{
    height: 200px;
    width: 150px;
    margin: 5px 0.5px;
    display: inline-block;
    background-size: cover;
    background-image: url(/assets/images/hengai.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transform: none;
    border: 4px solid rgba(0,0,0,0);
}
.past_speaker_single_thumb:hover
{
    border-color: #80cfff;
}
#past_speaker_content
{
    width: 100%;
    display: inline-block;
    background-color: #141414;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}
.past_speaker_single_content
{
    width: 100%;
    color: white;
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    white-space: normal;
    text-align: center;
}
.single_content_holder
{
    max-width: 700px;
    width: calc(100% - 80px);
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    color: white;
    text-align: left;
}
.single_content_holder p
{
    text-align: justify;
}