#content{
    margin-top:0px!important;
}
h1#speaker_h1 {
    font-size: 50px;
    text-align: center;
}

#speaker_carousel {
    padding-top: 50px;
    display: inline-block;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #e6d141;
    font-size: 0;
}

#speaker_carousel_cont {
    display: block;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    padding-bottom: 50px;
    align-content: space-around;
}

body {
    font-size: 0;
    background-color: #000;
    text-align: center;
}

#content {
    margin-top: 200px;
}

.speaker_element {
    display: inline-block;
    margin: 6px;
    height: 300px;
    width: 350px;
    vertical-align: top;
    border-radius: 2px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.speaker_element_background {
    position: absolute;
    height: 100%;
    width: calc(100% - 69px);
    top: 0;
    left: 0;
    border-radius: 2px;
    background-color: #000;
    background-size: contain;
    background-clip: content-box;
    background-position: center bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

.speaker_element_small_desc {
    background-color: #000;
    height: 70px;
    width: 100%;
    position: absolute;
    color: #E6D141;
    text-align: left;
    padding: 0 15px;
    top: 0;
    transform-origin: 100% 100%;
    right: 0;
    transform: translateY(-100%) rotate(-90deg);
    border-radius: 0 2px 2px 0;
    transition-delay: 0.05s;
}

.speaker_element_small_desc h3 {
    color: #E53293;
}

.speaker_element_small_desc h2 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.speaker_element_small_desc h3 {
    font-size: 12px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.speakers_element_content {
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 0;
    transition-duration: 0.4s;
    color: #FFF;
    font-size: 20px;
    opacity: 0;
    overflow: hidden;
    transition-timing-function: ease-in-out;
}

.speakers_element_content_andar_ka_content {
    position: absolute;
    left: 0;
    top: 10px;
    height: auto;
    background-color: #000;
    padding: 40px;
    text-align: justify;
}

.speakers_element_content_andar_ka_content .speaker_social_media {
    position: absolute;
    top: 70px;
    right: 40px;
    font-size: 30px;
}

.speakers_element_content_andar_ka_content .speaker_social_media a {
    color: white;
    margin: 0 5px;
}

.speakers_element_content_andar_ka_content .speaker_social_media a:hover {
    color: #E53293;
}

.cross_it {
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
}

.speakers_element_content_andar_ka_content h1 {
    text-align: left;
    margin: 3px 0;
}

.speakers_element_content_andar_ka_content h1 {
    font-size: 50px;
    color: #E6D141;
}

.speakers_element_content_andar_ka_content h2 {
    font-size: 25px;
    color: #E53293;
    text-align: left;
}

.speakers_element_content i.notch_arrow {
    font-size: 90px;
    color: #000;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.speaker_element.anonymous .speaker_element_background {
    background-size: contain;
}


@media screen and (max-width: 900px) {
    #content
    {
        padding: 0 10px;
        margin-top: 15px;
    }
    body .speakers_element_content_andar_ka_content .speaker_social_media {
        position: relative;
        top: auto;
        right: auto;
    }

    .speaker_element {
        width: 270px;
        height: 270px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 500px) {
    .speaker_element {
        width: 100%;
    }
}

a.nominate_a_speaker {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #E53293;
    color: white;
    border-radius: 5px;
    margin: 0 0;
}
